html 		{ margin: 10px; padding: 0px; }

body 		{ background-color: slategrey;}

@font-face 	{ font-family: Champignon; src: url(assets/Champignon.otf); }

#gallery_name 	{ font-family: Champignon; font-size: 6em; color: #CACFD4; margin-bottom: 0.5em; }

.movie.new 	{ background-color: red;     }
.movie.old 	{ background-color: white;   }
.movie.added	{ background-color: #c0c0c0; }

.trailervideo 	{ display: none; position: absolute; float: right; z-index: 1; margin: 90px 10px }
.visible 	{ display: block; }
#.movie 		{ box-shadow: 2px 2px 2px black; padding: 10px; margin: 5px; display: inline-block; height: 360px; width: 205px; }
.movie 		{ box-shadow: 2px 2px 2px black; padding: 10px; margin: 5px; display: inline-block; width: 205px; position: relative; }

.poster 	{ width: 185px; height: 278px; font-size:20px; }
.watched 	{ position: absolute; float: right; z-index: 1; width: 34px; height: 66px; 
			background-image: url("assets/watched-ribbon.svg"); margin: -10px;}

#genrefilter		  { width:50%; margin: 0 auto; text-align: center;}
.filterbutton		  { display: inline-block; margin-right:20px;  }
.filterbutton.selected	a { color:white; }

#watchedfilter		  { width:50%; margin: 0 auto; text-align: center;}
#watchedfilter		label {  color: #CACFD4; font-size:15px; }

.star_container	{ width: 100%; height: 16px; margin-bottom: 5px;}

.movietext 	{ font-size: 10px;margin: 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.movietextslider{ font-size: 10px; margin: 10px; overflow: hidden; color: white;}
.label 		{  }
.label:hover    { text-overflow: inherit; overflow: visible;}
.genre 		{  }
.genre:hover    { text-overflow: inherit; overflow: visible;}
.year 		{  }
.plot 		{ height: 65%; overflow:auto; margin-top: 8px;}
.buttons	{ position: absolute; bottom: 0px; margin-right: 5px;}

.trailer 	{ float:right; width: 200px; } 
.trailer img 	{ float: right;width: 20px;  }

.imdb 		{ float:right; width: 200px;} 
.imdb	 img 	{ float:right; width: 25px;  }

.sliderleft {  }

.sliderright {
        background-color: rgba(0, 0, 0, 0.8);
        display: inline-block; 
        width: 100%;
	height: 100%;
	overflow-y: hidden;
	max-width: 225px;  /* approximate max width */
	max-height: 381px; /* approximate max height */
        transition: opacity 1s ease-in-out; 
	z-index: 1;
	position: absolute;
	top:  0px;
	left: 0px;
	
}

.sliderright.closed {
	width: 0%;
}




#line 		{ width: 50%; border-top: 1px solid #374F66; border-bottom: 1px solid #95A0AA; margin: auto; margin-bottom: 10px; margin-top: 5px;}

#footer 	{ color: #CACFD4; font-size: 10px; }

a 		{ text-decoration: none; color: #CACFD4}
a:hover 	{ color: #374F66; text-decoration: underline; }

#container	{ text-align: center; }

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 

	.movietext 	{ font-size:90%;}
}

@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	.filterbutton	{ font-size:200%;}
 
}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.filterbutton	{ font-size:200%;} 
}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	.filterbutton	{ font-size:100%;}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

